.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: white;
  margin-top: 5%;
}
.content1{
  background-color: rgb(250, 235, 215);
  margin:80px auto;
  width: 1500px ;
  height: 500px;
  border: black 3px solid;
  border-radius: 20px;

}
.service1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%%;
  height: 5%;
}

.service1 p {
  font-size: 36px; 
}

.button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.button:hover {
  background-color: #1C86EE;
}
.steps-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: rgb(250, 235, 215);
  flex-wrap: nowrap;
}

.step {
  text-align: center;
  flex: 1;
  padding: 10px;
}

.step-icon {
  font-size: 48px;
  margin-bottom: 10px;
  color: #007BFF;
  transition: color 0.3s ease, transform 0.3s ease;
}

.step-icon:hover {
  color: #0056b3;
  transform: scale(1.2);
}

.step-text {
  font-size: 16px;
}

.content-wrapper1 {
  background-color: rgb(250, 235, 215);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service2 h1 {
  font-size: 36px;
  margin: 20px 0;
}

.service2 p {
  font-size: 18px;
  margin: 10px 0;
}

.tt {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tt ul {
  padding: 0;
  margin: 0;
}

.tt li {
  margin: 10px 0;
}
.container {
  display: flex;
  align-items: center; 
}
.suachua{
  background-color: rgb(250, 235, 215);
  
    margin: 50px auto; 
    display: flex;
    align-items: center;
    border:#1C86EE 2px solid; 
    border-radius: 20px;
    height:600px;
    width: 1500px;
}
.suachua-left, .suachua-right {
  margin: 10px;
  flex: 1;
}

.suachua-left {
  padding-right: 20px; 
  
}

.suachua-left h1 {
  font-size: 24px; 
  color: #333; 
  margin-bottom: 10px; 
  text-align: center;
}

.suachua-left ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.suachua-left li {
  font-size: 16px;
  color: #666; 
  margin-bottom: 10px;
}

.suachua-right img {
  display: block; 
  max-width: 100%;
  height: 550px;   
  border-radius: 20px; 
  
}
