.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: white;
    margin-top: 0px; 
  }
  
  .service1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .service1 p {
    font-size: 36px; 
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: floralwhite;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: rgb(250, 235, 215);
  }
  
  img {
    padding: 20px; 
  }
  
  
  .steps-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: white;
    flex-wrap: nowrap;
  }
  
  .step {
    text-align: center;
    flex: 1;
    padding: 10px;
  }
  
  .step-icon {
    font-size: 48px
    margin-bottom: 10px;
    color: #007BFF;
    transition: color 0.3s ease, transform 0.3s ease;
    
  }

  .step-icon:hover {
    color: #0056b3;
    transform: scale(1.2);
  }
 
  .step-text {
    font-size: 16px;
  }
  
  .content-wrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: white;
    margin: -150px;
    padding: 50px;
  }
  
  .service2 h1 {
    font-size: 36px;
    margin: 20px 0;
  }
  
  .service2 p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .tt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    margin: -150px 0 -200px 0;
  }
  .tt ul {
    padding: 0;
    margin: 0;
  }
  .tt li {
    margin: 10px 0;
  }
  